<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png" >    
    <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class ="main-content">
        {{>header}}
        <p>This site is created by Ratika Rastogi. <br>
        It uses  data from mapbox and weather api to get the location and forecast information!!
        </p>
        <img class="portrait" src ="/img/pic.png">
    </div>
    {{>footer}}
</body>

</html>